@model Spotopedia.Web.ViewModels.Posts.AllPostsViewModel

@{

 }

@if (this.TempData.ContainsKey("Add"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         @this.TempData["Add"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.TempData.ContainsKey("Edit"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
         @this.TempData["Edit"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.TempData.ContainsKey("Delete"))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
         @this.TempData["Delete"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.TempData.ContainsKey("AddComment"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         @this.TempData["AddComment"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<style>
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    body {
        font-family: sans-serif;
        background-color: #eeeeee;
    }

    .file-upload {
        background-color: #ffffff;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #dfdfdf;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #dfdfdf;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #dfdfdf;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #dfdfdf;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #dfdfdf;
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #dfdfdf;
            padding: 60px 0;
        }

    .file-upload-image {
        max-height: 50%;
        max-width: 50%;
        margin: auto;
        padding: 20px;
    }

    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }

    .wrapper {
        display: flex;
    }

        .wrapper > div:first-child {
            margin-left: 10px;
        }

    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
 
</style>

<div class="container-fluid mt-100">
<div>
 <div class="text-muted small ml-3"> <button type="button"  asp-controller="Posts" asp-action="Create" class="btn btn-outline-primary float-right" onclick="showAddPostForm()"><i class="fa fa-plus"></i>&nbsp; New Post</button> </div>
@*<a asp-controller="Posts" asp-action="Create" class="btn btn-primary float-right" ><i class="fa fa-plus"></i>&nbsp; Create post</a>*@
<div class="clearfix"></div>

                <div>
    <form asp-controller="Posts" asp-action="Create" method="post" id="AddPostForm" enctype="multipart/form-data"  style="display: none">
        <input type="hidden" name="PostId" value="PostId" />
    <div>
         <label for="Content"></label>
        <textarea name="Content" id="Content" class="form-control" placeholder="Write a post..."></textarea> 
    </div>
                    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="d-flex p-2 mw-100">
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' name="PostImages"  onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
  </div>
</div>
</div>
    <div>
        <br>
        <input type="submit" class="btn btn-outline-primary float-right" value="Publish" />
        <div class="clearfix"></div>
    </div>
    </form>
                </div>

<br>

</div>

    @foreach (var post in Model.Posts)
    {
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="@post.AddedByUserAvatarImageUrl" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a asp-controller="Users" asp-action="Details" asp-route-id="@post.AddedByUserId" data-abc="true">@post.AddedByUserFirstName @post.AddedByUserLastName</a> 
                         @if (User.Identity.IsAuthenticated && User.Identity.Name == post.AddedByUserUserName)
                        {                   
                            <!-- Single button -->
                            <div class="wrapper float-right">
                            <div class="container">
                                  <div class="dropdown float-right">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"></i>
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu align-items-center" role="menu" aria-labelledby="menu1">
                                      <li role="presentation"><a role="menuitem" tabindex="-1" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">&nbsp;&nbsp; Edit</a></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">&nbsp;&nbsp; Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                            @*<div><a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-outline-warning float-right">Edit</a></div>
                            <div><a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-outline-danger float-right">Delete</a></div>*@
                            </div>
                            <div class="clearfix"></div>
                        } 
                            <div class="text-muted small">@post.CreatedOn</div>
                     
                        </div>
                        <div class="text-muted small ml-3">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                <h5 class="card-title"><a asp-action="Details" asp-route-id="@post.Id"></a></h5>
                <p class="card-text">@post.Content</p>
                </div>
                <div class="card-body">
                           @if (post.PostImages.Count > 0)
                {
                            <img src="@post.PostImages.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
                }
                <hr>
                <div>
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" >
        <input type="hidden" name="PostId" value="@post.Id" />
    <div>
         <label for="Content"></label>
        <textarea name="Content" id="Content" class="form-control" placeholder="Write a comment..."></textarea>
    </div>
    <div>
        <br>

        <input type="submit" class="btn btn-outline-primary float-right" value="Add Comment" />
        <div class="clearfix"></div>
    </div>
    </form>
                </div>
                <hr>
                @if (post.PostComments.Count > 0)
{
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                @*Voting 
                            <div class="text-muted small ml-3 row">
                            <form id="votesForm" method="post"></form>
                            <div>
                                <a href="#" onclick="sendVote(@post.Id, true)">
                                    <i class="fa fa-thumbs-up"></i>
                                </a>
                            </div>
                            <div id="likesCount">@post.LikesCount</div>
                            <div id="dislikesCount">@post.DislikesCount</div>
                            <div>
                                <a href="#" onclick="sendVote(@post.Id, false)">
                                    <i class="fa fa-thumbs-down"></i>
                                </a>
                            </div>*@
                     @*<div class="text-muted small ml-3"> <button type="button" class="btn btn-ppr" onclick="showAddCommentForm(@post.Id)"><i class="fa fa-plus"></i>&nbsp; Answer</button> </div>*@
         
                     @foreach (var comment in post.PostComments)
{
            <div class="container-fluid mt-100">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <img src="@comment.AddedByUserAvatarImageUrl" class="d-block ui-w-40 rounded-circle" alt="">
                                    <div class="media-body ml-3">
                                       <a asp-controller="Users" asp-action="Details" asp-route-id="@comment.AddedByUserId"> @comment.AddedByUserFirstName @comment.AddedByUserLastName </a>
                                        <div class="text-muted small">
                                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                        </div>
                                    </div>
                                    <div class="text-muted small ml-3">
                                        @*@if (this.User.Identity.IsAuthenticated)*@
                                            @*<div class="px-4 pt-3"> <button type="button" class="btn btn-secondary" onclick="showAddCommentForm(@comment.Id)"><i class="fa fa-plus"></i>&nbsp; Answer</button> </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">@comment.Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
}
                </div>
}
            </div>
        </div>
    </div>
</div>
     <hr>
        <br>
@*</div>*@
    }
<!-- Back to top button -->
<button
        type="button"
        class="btn btn-secondary btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
</div>

@section Scripts{ 
<script>
    function showAddPostForm() {
        $("#AddPostForm").toggle();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#AddPostForm").offset().top - $(window).height() / 2
        }, 1000);
    }

    function showAddCommentForm() {
        $("#AddCommentForm").show();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#AddCommentForm").offset().top - $(window).height() / 2
        }, 1000);
    }

    function sendVote(postId, isLiked) {
        var token = $("#votesForm input[name=__RequestVerificationToken]").val();
        var json = { postId: postId, isLiked: isLiked };
        $.ajax({
            url: "/api/postVotes",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                $("#likesCount").html(data.likesCount);
                $("#dislikesCount").html(data.dislikesCount);
            }
        });
    }
    </script>

<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

   <script>
function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
		$('.image-upload-wrap').addClass('image-dropping');
	});
	$('.image-upload-wrap').bind('dragleave', function () {
		$('.image-upload-wrap').removeClass('image-dropping');
});

</script>

<script>
          $('.dropdown').hover(function () {
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
          }, function () {
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
          });
</script>

}