@using Spotopedia.Common
@model Spotopedia.Web.ViewModels.Spots.SingleSpotViewModel

<div>
    <img class="card-img" src="@Model.SpotImages.First().ImageUrl" alt="dog">
    <span class="badge badge-success">@Model.Type</span>
<span>
    @if (User.Identity.IsAuthenticated)
{
                     <span class="single-meta">
                        <a asp-controller="Spots" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                    </span>
}
</span>
    <h4 class="card-title mt-2">@Model.Title</h4>
    <p class="card-text">@Model.Description</p>
 

 <div>
    <a href="https://www.google.com/maps/search/?api=1&query=@Model.Address.Latitude,@Model.Address.Longitude" target="_blank" class="btn btn-primary">Directions</a>
     </div>
<div>
 <fieldset class="gllpLatlonPicker">
	<div class="gllpMap">Google Maps</div>
	<input type="hidden" class="gllpLatitude" value="@Model.Address.Latitude"/>
	<input type="hidden" class="gllpLongitude" value="@Model.Address.Longitude"/>
	<input type="hidden" class="gllpZoom" value="11"/>
  </fieldset>
</div>
   </div>