@using Spotopedia.Common
@model Spotopedia.Web.ViewModels.Spots.SingleSpotViewModel

<div class="d-flex justify-content-center">
  <div class="card-header">
    <img class="card-img" src="@Model.SpotImages.First().ImageUrl" alt="dog">
  </div>
  <div class="card-body">
    <span class="badge badge-success">@Model.Type</span>
    <h4 class="card-title mt-2">@Model.Title</h4>
    <p class="card-text">@Model.Description</p>
  </div>
  <div class="card-footer">
    <a href="https://www.google.com/maps/search/?api=1&query=@Model.Address.Latitude,@Model.Address.Longitude" target="_blank" class="btn btn-primary">Directions</a>
  </div>
  <li class="single-meta">
                        <a asp-controller="Spots" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                    </li>
