@model Spotopedia.Web.ViewModels.Challenges.AllChallengesViewModel


<div class="text-muted small ml-3"> <a type="button"  asp-controller="Challenges" asp-action="Create"  class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i>&nbsp; Create New Challenge</a> </div>
<div class="clearfix"></div>
<br>
@foreach (var challenge in Model.Challenges)
{
<div class="card mb-3">
  <img src="@challenge.Image.ImageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a asp-action="Details" asp-route-id="@challenge.Id">@challenge.Name</a></h5>
    <p class="card-text">@challenge.ShortDescription</p>
    <p class="card-text"><small class="text-muted">Challenge ends: @challenge.EndDate</small></p>
  </div>
</div>
}

 

