@using Spotopedia.Common
@model Spotopedia.Web.ViewModels.Challenges.ChallengeDetailsViewModel

@if (this.TempData.ContainsKey("AddNewEntry"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["AddNewEntry"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<style>
    button.btn-primary {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
    </style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-left my-4">
                <!-- navigation in .card-header -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab1">Challenge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2">All Entries</a>
                        </li>
                    </ul>
                </div>
                <!-- .card-body.tab-content  -->
                <div class="card-body tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <br>
                        @if (Model.IsItActive)
                        {
                            <h4 class="card-title">@Model.Name <span class="badge badge-pill badge-success float-right">Active</span></h4>
                            <a asp-controller="ChallengeEntries" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-warning float-right">Join the challenge</a>
                            <div class="clearfix"></div>
                        }
                        else
                        {
                            <h4 class="card-title">@Model.Name  <span class="badge badge-pill badge-danger float-right">Expired</span></h4>
                            <button class="btn btn-warning float-right">Join the challenge</button>
                            <div class="clearfix"></div>
                        }
                        <br>

                        <img src="@Model.Image.ImageUrl" class="card-img-top" alt="...">
                        <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <h4 class="card-title"></h4>
                        <p class="card-text">
                            @foreach (var challengeEntry in Model.ChallengeEntries.OrderByDescending(x => x.CreatedOn))
                            {
                                <div class="container-fluid mt-100">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card mb-4">
                                                <div class="card-header">
                                                    <div class="media flex-wrap w-100 align-items-center">
                                                        <img src="@challengeEntry.AddedByUserAvatarImageUrl" class="d-block ui-w-40 rounded-circle" alt="">
                                                        <div class="media-body ml-3">
                                                            <a href="javascript:void(0)" data-abc="true">@challengeEntry.AddedByUserFirstName @challengeEntry.AddedByUserLastName</a>
                                                            <div class="text-muted small">@challengeEntry.CreatedOn</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">@challengeEntry.Caption</p>
                                                    <img src="@challengeEntry.ChallengeEntryImageImageUrl" class="card-img-top" alt="...">

                                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.Identity.Name == challengeEntry.AddedByUserUserName)
                                                    {
                                                        <hr>
                                                        <div class="container">
                                                            <!-- Button to Open the Modal -->
                                                            <button type="button" asp-controller="ChallengeEntries" asp-action="Delete" asp-route-id="@challengeEntry.Id" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#myModal" onclick="openModal()">
                                                                Delete
                                                            </button>

                                                            <!-- The Modal -->
                                                            <div class="modal" id="myModal">
                                                                <div class="modal-dialog">

                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Delete Entry Confirmation</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        </div>

                                                                        <!-- Modal body -->
                                                                        <div class="modal-body">
                                                                            Do you want to delete this entry?
                                                                        </div>
                                     
                                                                        <!-- Modal footer -->
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <a asp-controller="ChallengeEntries" asp-action="Delete" asp-route-id="@challengeEntry.Id" class="btn btn-outline-danger float-right" onclick="confirmDelete()">Delete</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    }

                                                </div>
                                                @*<div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </p>
                        <a asp-controller="ChallengeEntries" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-warning float-right">Join the challenge</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        function confirmDelete() {
            console.log("Deleting...");
            $('.modal-header, .modal-footer, .modal-body').addClass('hide');
            $('.confirm-delete').removeClass('hide');
            //$('#myModal').modal('hide');
        }

        function openModal() {
            $('.confirm-delete').addClass('hide');
            $('#myModal .modal-header, .modal-footer, .modal-body').removeClass('hide');
            $('#myModal').modal('show');
        }
        </script>

 }