@model Spotopedia.Web.ViewModels.Administration.Dashboard.IndexViewModel

<head>
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body class="myDIV">
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Dashboard</a></li>
                        <li><a>Customers</a></li>
                        <li><a>Other</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a>Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                                <li><a>Remove a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                        <li><a>Payments</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                        <li><a>Reports</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, Admin.
                            </h1>
                            <h2 class="subtitle">
                                I hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">@Model.UsersCount</p>
                                <p class="subtitle">Users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">@Model.SpotsCount</p>
                                <p class="subtitle">Spots</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">@Model.PostsCount</p>
                                <p class="subtitle">Posts</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">@Model.ActiveChallengesCount</p>
                                <p class="subtitle">Active Challenges</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Spots for approval
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            @foreach (var spot in Model.Spots)
                                            {
                                                <tr>
                                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                    <td><a asp-area="" asp-controller="Spots" asp-action="ById" asp-route-id="@spot.Id"> @spot.Title</a></td>
                                                    <td class="level-right"><a class="button is-small is-primary" asp-area="Administration" asp-controller="Spots" asp-action="ApproveSpot" asp-route-id="@spot.Id">Approve</a></td>
                                                    <td class="level-right"><a class="button is-small is-danger" asp-area="Administration" asp-controller="Spots" asp-action="Delete" asp-route-id="@spot.Id">Delete</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Reports
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            @foreach (var report in Model.Reports)
                                            {
                                                <tr>
                                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                    <td><a asp-area="" asp-controller="Posts" asp-action="All"> @report.ReportType.ToString()</a></td>
                                                    <td class="level-right"><a class="button is-small is-primary" asp-area="Administration" asp-controller="Spots" asp-action="ApproveSpot">Approve</a></td>
                                                    <td class="level-right"><a class="button is-small is-danger" asp-area="Administration" asp-controller="Spots" asp-action="Delete">Delete</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    <script>
    function myFunction() {
      let root = document.documentElement;
      let x = document.getElementById("img");
      // let videoVal = document.video;
      // let h1Val = document.h1;
      root.classList.toggle("dark-mode");
      x.classList.toggle("inverted");
      // pictureVal.classList.toggle("inverted");
      // videoVal.classList.toggle("inverted");
      // h1Val.classList.toggle("inverted");
    }
    </script>
</body>

</html>